@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #01102A;
  --foreground: #01102A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'jaro'; 
  src: url('/fonts/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
}

@font-face {
  font-family: 'jersey'; 
  src: url('/fonts/Jersey10-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'plexMono'; 
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
